/* Colors
/******************************************************************************/

/*
blue            #2d7dd2
gray (lighter)  #ecedef
gray (light)    #c8cacf
gray (medium)   #9196a0
gray (dark)     #6d7380
gray (darker)   #373f51
green           #3bb273
purple          #7768ae
red             #e15554
yellow          #e1bc29
*/

/* Shared
/******************************************************************************/

html {
  background-color: #fff;
  font-size: 16px;
  height: 100%;
}

body {
  background-color: #fff;
  color: #373f51; /* gray (darker) */
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
}

.content {
  padding: 2rem;
}

.no-match {
  text-align: center;
}

/* Utilities
/******************************************************************************/

.w-100 {
  width: 100%;
}

/* Input
/******************************************************************************/

.input {
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #c8cacf; /* gray (light) */
  font-size: 1rem;
  height: 2.25rem;
  line-height: 1.5rem;
  transition: background-color 0.15s ease-in-out,
              border-color 0.15s ease-in-out,
              box-shadow 0.15s ease-in-out;
  vertical-align: middle;
}

.input.error {
  border: 1px solid #e15554; /* red */
  color: #e15554; /* red */
}

.input:focus {
  border: 1px solid #8cb8e6;
  box-shadow: 0 0 0 0.2rem rgba(45, 125, 210, 0.25);
  outline: 0;
}

.input.button {
  cursor: pointer;
  font-weight: 500;
  height: 2.625rem;
  padding: 0.5rem 0.75rem;
}

.input.button:hover {
 background-color: #eee;
}

.input.button.blue {
  background-color: #2d7dd2; /* blue */
  border-color: #2d7dd2; /* blue */
  color: #fff;
}

.input.button.blue:hover {
  background-color: #2567ac; /* two shades darker than blue (#2d7dd2)  */
  border-color: #2567ac; /* two shades darker than blue (#2d7dd2)  */
}

.input.select {
  cursor: pointer;
}

/* Pill
/******************************************************************************/

.pill-list {
  list-style: none;
  margin: 0 0 1rem 0;
  padding: 0;
}

.pill-list > .pill-list-item {
  display: inline-block;
}

.pill-list > .pill-list-item > .pill-button {
  background-color: #fff;
  background: none;
  border: none;
  color: #373f51; /* gray (darker) */
  cursor: pointer;
  display: block;
  font-size: 1rem;
  padding: 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out;
}

.pill-list > .pill-list-item > .pill-button:hover {
  color: #2d7dd2; /* blue */
}

.pill-list > .pill-list-item > .pill-button.green:hover {
  color: #3bb273; /* green */
}

.pill-list > .pill-list-item > .pill-button.red:hover {
  color: #e15554; /* red */
}

.pill-list > .pill-list-item.active > .pill-button {
  background-color: #2d7dd2; /* blue */
  color: #fff;
  display: block;
  padding: 1rem;
  text-decoration: none;
  transition: unset;
}

.pill-list > .pill-list-item.active > .pill-button.green {
  background-color: #3bb273; /* green */
  color: #fff;
}

.pill-list > .pill-list-item.active > .pill-button.red {
  background-color: #e15554; /* red */
  color: #fff;
}

/* Question
/******************************************************************************/

.question-page {
  text-align: center;
}

.question-page > .question-details > .avatar {
  border-radius: 5rem;
  height: 10rem;
  margin: 0 0 0.5rem 0;
}

.question-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.question-list > .question-list-item {
  background-color: #ecedef;
  display: block;
  margin-bottom: 1rem;
  transition: box-shadow 0.15s ease-in-out;
}

.question-list > .question-list-item:hover {
  box-shadow: 0.125rem 0.125rem 0.5rem 0.0625rem rgba(0, 0, 0, 0.25);
}

.question-list > .question-list-item > .question-link {
  color: inherit;
  display: block;
  text-decoration: none;
}

.question {
  font-size: 1.125rem;
  line-height: 2.125rem;
  padding: 1rem;
}

.question > .question-option {
  background-color: #6d7380; /* gray (dark) */
  border-radius: 0.25rem;
  color: #fff;
  margin: 0;
  padding: 0.125rem 0.5rem 0.25rem 0.5rem;
  white-space: nowrap;
}

.question > .question-option.answer {
  background-color: #3bb273; /* green */
}

.question-stats {
  color: #9196a0; /* gray (medium) */
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0.5rem 0 0 0;
}

.question-stats > p {
  margin: 0.25rem 0 0 0;
}

/* Login
/******************************************************************************/

.login {
  align-items: center;
  background-color: #ecedef; /* gray (lighter) */
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.login > .login-form {
  background-color: #fff;
  border-top-color: #2d7dd2; /* blue */
  border-top-style: solid;
  border-top-width: 0.25rem;
  min-width: 20rem;
  padding: 2rem;
  box-shadow: 0rem 0rem 3rem 0.1rem rgba(0, 0, 0, 0.25);
}

.login > .login-form > .login-form-field {
  margin-bottom: 1rem;
  width: 100%;
}

.login > .login-form > .login-form-title {
  margin: 0 0 1.5rem 0;
}

/* Nav
/******************************************************************************/

.nav {
  background-color: #2d7dd2; /* gray (darker) */
  color: #fff;
  display: flex;
  padding: 0 1rem;
  text-align: center;
}

.nav > .nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav > .nav-list.nav-list-left {
  margin-right: auto;
}

.nav > .nav-list.nav-list-right {
  margin-left: auto;
}

.nav > .nav-list > .nav-list-item {
  color: #fff;
  display: inline-block;
}

.nav > .nav-list > .nav-list-item .fa {
  height: 1rem;
  line-height: 1.5rem;
  margin-right: 0.25rem;
  vertical-align: bottom !important;
  width: 1rem;
}

.nav > .nav-list > .nav-list-item > .nav-list-item-label {
  padding: 1rem;
}

.nav > .nav-list > .nav-list-item > .nav-list-item-link {
  color: #fff;
  display: block;
  padding: 1rem;
  text-decoration: none;
  transition: background-color 0.15s ease-in-out;
}

.nav > .nav-list > .nav-list-item > .nav-list-item-link:hover {
  background-color: #2567ac; /* two shades darker than blue (#2d7dd2)  */
  color: #fff;
}

.nav > .nav-list > .nav-list-item > .nav-list-item-link.active {
  background-color: #2567ac; /* two shades darker than blue (#2d7dd2)  */
  color: #fff;
}

